*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

nav,
header,
footer,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
}

input,
button,
textarea {
    font-family: inherit;
}

body {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    color: #444444;
}

/* ---------------------------------------------- */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1220px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}


/* ---------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    min-height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 35px;
}

.menu__item:hover {}

.menu__link {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    /*color: #FFFFFF;*/
}

/* ---------------------------------------------- */